.list {
	text-align:center;
	list-style-position:inside;
}

h1 {font-family:Times New Roman; color:white; text-align:center; font-style:italic; font-size:22pt;} 
h2 {font-family:Times New Roman; color:#228B22; text-align:center; font-style:italic; font-size:22pt;} 
p  {color:black; font-family:'Comic Sans MS'; text-align:left; font-size:22pt; family-font:bold;}